<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="header-container">
<h1>Cauta dupa numele evenimentului: </h1>
    <a id="json-events" href="http://localhost:8080/dashboard/events" style="display: flex; justify-content: right;">Get events JSON</a>
<form action="keywords" method="get">
    <input name="keyword">
    <button>Cauta</button>
</form>
</div>

<table class="table table-dark table-hover">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Location</th>
        <th scope="col">City</th>
        <th scope="col">Date Start</th>
        <th scope="col">Date End</th>
        <th scope="col">Price</th>
        <th scope="col">Genre</th>
        <th scope="col">URL</th>
    </tr>
    </thead>
    <tbody th:each="k : ${events}">
    <tr>
        <td th:text="${k.name}"></td>
        <td th:text="${k.location}"></td>
        <td th:text="${k.city}"></td>
        <td th:text="${k.dateStart}"></td>
        <td th:text="${k.dateEnd}"></td>
        <td th:text="${k.price}"></td>
        <td th:text="${k.genre}"></td>
        <td>
        <a th:href="@{${k.url}}">Go to event</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>